div.shadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    border-radius: var(--border-radius);
    transition: all .25s ease;
    background-color: var(--c-bg);
}

div.shadow:hover {
    filter: brightness(97%);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
}
