:root {
	--c-primary: #acecf7;
	--c-primary-lighter: rgba(217, 240, 244, 0.91);
	--c-primary-darker: #1bd5f5;
	--c-secondary: #d6f6dd;
	--c-secondary-darker: #8fe3a1;
	--c-secondary-lighter: #d6f6dd92;
	--c-bg: white;

	--border-radius: 0.5rem;
	--border-radius-l: 1rem;
}
