button {
	align-items: center;
	background-color: var(--c-bg);
    border: none;
	border-radius: var(--border-radius);
	box-shadow: rgba(0, 0, 0, 0.01) 0 1px 3px 0;
	box-sizing: border-box;
	color: var(--c-text);
	cursor: pointer;
	display: inline-flex;
	font-weight: 600;
    font-family: var(--sans);
    font-size: 1.1rem;
	justify-content: center;
	line-height: 1.25;
	min-height: 3rem;
	padding: 0.5rem .9rem;
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	touch-action: manipulation;
	vertical-align: baseline;
    width: 100%;
    outline: 0;
}

button:hover,
button:focus {
	box-shadow: rgba(var(--c-shadow-rgb), 0.1) 0 4px 12px;
    filter: brightness(90%);
}

button:hover {
	transform: translateY(-0.1rem);
}

button:active {
    filter: brightness(65%);
	box-shadow: rgba(var(--c-shadow-rgb), 0.06) 0 2px 4px;
	transform: translateY(-0.2);
}

button.outlined {
	border: 0.1rem solid var(--c-primary);
    color: var(--c-primary-darker);
}

button.outlined:hover {
	border: 0.1rem solid var(--c-secondary);
    color: var(--c-secondary-darker);
}

button.contained {
    background-color: var(--c-primary);
}

button.contained:hover {
    background-color: var(--c-secondary);
}

button.round {
    width: auto;
    border-radius: 100%;
}

button.text {

}
